<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Test JSRMI</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-3">
                    <div id="alert" class="alert alert-danger mt-3" role="alert">
                        This is a danger alert—check it out!
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h4 class="card-title">Login Form</h4>
                            <p class="card-text">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone
                                        else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <input type="button" id="login_btn" class="btn btn-primary" value="Login" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src='/Js/jsrmi.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>
        var test = new jsrmi("test_controller");
        $('#alert').hide();
        test.test("gg");
        $('#login_btn').click(function () {
            var username = $("#exampleInputEmail1").val();
            var password = $("#exampleInputPassword1").val();
            test.login(username, password)
                .then((result) => {
                    alert(result);
                }).catch((error) => {
                    $('#alert').show();
                    $('#alert').html(error);
                    setTimeout(() => {
                        $('#alert').hide();
                    }, 2000)
                });
        });
    </script>

</html>